<style>
h1 {
   display: flex;
   align-items: left;
   justify-content: left;
   text-align: left;
   margin-left: 50%;
}
.header {
  margin-left: 50%;
  background-color: black;
  color: white;
  padding-top: 12px;
  padding-right: 5px;
  padding-bottom: 12px;
  padding-left: 16px;
  text-align: left;
  font-family: Arial, sans-serif;
}
body {
  background-image: url(/Users/snoodle/turing/2m/pre_work/static_challenges/images/1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* Style the top navigation bar */
.topnav {
  margin-left: 50%;
  padding: 5px;
  font-size: 10px;
  overflow: hidden;
  background-color: sienna;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}
/* Style the topnav links */
.topnav a {
  color: #f2f2f2;
  padding: 50px;
  text-decoration: none;
}

.paragraph-one {
  margin-left: 50%;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 16px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.6)
}

table, td, th {
  margin-left: 50%;
  border: clear;
  text-align: left;
  padding-left: 10px;
  vertical-align: top;
  }

table {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-collapse: collapse;
  width: 50%;
}

th {
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 10px;
 }

 [title~=photo] {
   border: 1px solid orange;
   width:150px;
   padding: 0px;
   box-sizing: border-box;
 }

.paragraph-two {
  margin-left: 50%;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 40px;
  padding-left: 16px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-decoration: none;
}

.footer {
  margin-left: 50%;
  padding-top: 50px;
  padding-right: 5px;
  padding-bottom: 40px;
  padding-left: 10px;
  text-decoration: none;
  color: white;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.6);
}
 </style>
 /* .right {
 align-items: right;
 position: absolute;
 margin-left: 50%;
 margin-right: 700px;
 margin-bottom: 0px;
 width: 750px;
 padding: 10px;
 } */
 /*
  .leftcolumn, .middlecolumn, .rightcolumn {
    font-size: 16px;
    float: left;
    width: 33.33%;
    padding: 6px;
    color: white;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6)
  }
  /* Clear floats after the columns */
  /* .row:after {
    margin-left: 50%;
    content: "";
    display: table;
    clear: both;
  } */
